/* Adicione o restante do seu CSS existente aqui */

@keyframes swing {
  0% {
      transform: rotateY(0deg);
  }
  50% {
      transform: rotateY(180deg);
  }
  100% {
      transform: rotateY(0deg);
  }
}

#logo {
  animation: swing 5s ease-in-out infinite;
  float: left; /* Adicionando a propriedade float para mover a logo para a esquerda */
  margin-right: 10px; /* Adicionando uma margem à direita para separar a logo do texto */
}


body {
  font-family: 'Roboto', sans-serif;
  background: url('../img/imagem 7.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #333;
}
#logo {
  width: 70px; /* Tamanho menor para ocupar menos espaço vertical */
  height: 100px;
  align-items: center;
}

#header {
  background-color: #460048;
  color: white;
  padding: 20px;
  text-align: left; /* Alinhar o texto à esquerda */
  display: flex; /* Usar flexbox para alinhar os elementos */
  align-items: center; /* Alinhar os elementos verticalmente */
}
#header img {
  max-width: 200px; /* Ajuste o valor conforme necessário para o tamanho desejado */
  height: 90px;
  display: block;
  margin: 0 auto; /* Centraliza horizontalmente */
}

#logo {
  max-width: 100px;
}


#menu {
  background-color: #000000;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  padding: 10px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

#menu a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s;
}

#menu a:hover {
  color: #ffd700;
}

#menu .dropdown {
  position: relative;
  display: inline-block;
}

#menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #343a40;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#menu .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

#menu .dropdown-content a:hover {
  background-color: #575757;
}

#menu .dropdown:hover .dropdown-content {
  display: block;
}

.card-title {
  font-size: 1.5rem;
  color: #460048;
  font-weight: 700;
}

.form-group label {
  font-weight: 700;
  color: #000000;
}

.form-group input, .form-group select {
  border: 1px solid #460048;
}

.btn-primary {
  background-color: #460048;
  border-color: #460048;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
  background-color: #2575fc;
  border-color: #2575fc;
}

.table thead {
  background-color: #460048;
  color: white;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

.table-bordered {
  border: 1px solid #ddd;
}

.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.card-body {
  padding: 2rem;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1200px;
}

#filtros .btn {
  border-radius: 20px;
  font-weight: 700;
}







input, select {
  width: 100%; /* Faça os inputs e selects ocuparem 100% da largura do contêiner */
  padding: 8px; /* Adicione padding para conforto */
  margin-bottom: 10px; /* Adicione espaço entre os inputs */
}

button {
  width: 100%; /* Faça os botões ocuparem 100% da largura do contêiner */
  padding: 8px;
}


body {
  background-size: cover;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: #d6c1d2;
}

/* Estilizando o modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.table-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.modal-content {
  background-color: #3d0043;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

