body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
#logo {
    width: 70px; /* Tamanho menor para ocupar menos espaço vertical */
    height: 100px;
    align-items: center;
  }
  
  #header {
    background-color: #460048;
    color: white;
    padding: 20px;
    text-align: left; /* Alinhar o texto à esquerda */
    display: flex; /* Usar flexbox para alinhar os elementos */
    align-items: center; /* Alinhar os elementos verticalmente */
  }
  #header img {
    max-width: 200px; /* Ajuste o valor conforme necessário para o tamanho desejado */
    height: 90px;
    display: block;
    margin: 0 auto; /* Centraliza horizontalmente */
  }
  
  #logo {
    max-width: 100px;
  }
  
  
  #menu {
    background-color: #000000;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  #menu a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s;
  }
  
  #menu a:hover {
    color: #ffd700;
  }
  
  #menu .dropdown {
    position: relative;
    display: inline-block;
  }
  
  #menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #343a40;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  #menu .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
  }
  
  #menu .dropdown-content a:hover {
    background-color: #575757;
  }
  
  #menu .dropdown:hover .dropdown-content {
    display: block;
  }
/* Contêiner para imagem e informações */
.imagem-container {
    position: relative;
}

/* Imagem de fundo */
.imagem-container img {
    width: 100%;
    height: auto;
    display: block;
}

/* Destaque - informações sobre o que oferecemos */
#destaque {
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    max-width: 80%;
    width: calc(100% - 40px); /* Ajuste para margens */
    box-sizing: border-box;
}

#destaque h2, #destaque h3, #destaque p {
    margin: 10px 0;
}

#destaque h3 {
    color: #e6dc10;
}

#destaque p {
    color: #ffffff;
}

/* Estilo para itens de destaque */
.destaque-item {
    margin-bottom: 20px;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    #menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #menu a {
        margin: 5px 0;
    }

    #destaque {
        padding: 15px;
        width: calc(100% - 30px);
    }

    .destaque-item {
        margin-bottom: 15px;
    }
}

@media (max-width: 480px) {
    #header {
        padding: 5px 0;
    }

    #destaque {
        padding: 10px;
        width: calc(100% - 20px);
    }

    .destaque-item {
        margin-bottom: 10px;
    }
}
