/* Estilo básico para os botões */
.btn {
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Efeito ao passar o mouse */
.btn:hover {
    background-color: #0056b3; /* Cor mais escura para indicar foco */
    transform: scale(1.05); /* Leve aumento no tamanho */
}

/* Efeito ao clicar no botão */
.btn:active {
    transform: scale(0.95); /* Leve redução no tamanho */
}


/* Adicione o restante do seu CSS existente aqui */

@keyframes swing {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

#logo {
    animation: swing 5s ease-in-out infinite;
}

#erroMensagem {
    display: none;
    margin-top: 15px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 10px;
    border-radius: 4px;
}


/* CadastroAluno.css */


/* Responsividade que não deixa nada dentro da minha pagina ser selecionado ou marcado */

html, body, div, span, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, img, a, table, th, td, form, input, button {
    -webkit-touch-callout: none;
    /* Desabilita a seleção no iOS */
    -webkit-user-select: none;
    /* Desabilita a seleção no WebKit (Chrome, Safari, etc.) */
    -khtml-user-select: none;
    /* Desabilita a seleção no Konqueror */
    -moz-user-select: none;
    /* Desabilita a seleção no Firefox */
    -ms-user-select: none;
    /* Desabilita a seleção no Internet Explorer/Edge */
    user-select: none;
    /* Desabilita a seleção padrão */
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #900da1 55%, #d20ed5 25%);
    color: #d6c1d2;
}

#logo {
    width: 70px; /* Tamanho menor para ocupar menos espaço vertical */
    height: 100px;
    align-items: center;
  }
  
  #header {
    background-color: #dc19e2;
    color: white;
    padding: 20px;
    text-align: left; /* Alinhar o texto à esquerda */
    display: flex; /* Usar flexbox para alinhar os elementos */
    align-items: center; /* Alinhar os elementos verticalmente */
  }
  #header img {
    max-width: 200px; /* Ajuste o valor conforme necessário para o tamanho desejado */
    height: 90px;
    display: block;
    margin: 0 auto; /* Centraliza horizontalmente */
  }
  
  #logo {
    max-width: 100px;
  }
  
  
  #menu {
    background-color: #000000;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
    z-index: 2;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 15px;
  }
  
  #menu a {
    display: inline-block;
    margin: 0 15px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  #menu a:hover {
    transform: translateY(-5px);
    color: #ffd700;
  }
  
  #texto-centralizado {
    position: absolute; /* Definindo a posição absoluta */
    top: 50%; /* Definindo o topo como 50% da altura do elemento pai */
    left: 50%; /* Definindo a esquerda como 50% da largura do elemento pai */
    transform: translate(-50%, -50%); /* Movendo o elemento para o centro */
  }
  
.container {
    height: 80%;
    width: 40%;
    background-color: #5c005b;
    padding: 10px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 247, 247, 0.1);
}

#cadastroAlunoForm {
    text-align: left;
}

#cadastroAlunoForm h2 {
    color: #fefefe;
    margin-bottom: 10px;
}

#cadastroAlunoForm label {
    display: block;
    margin: 10px 0 5px;
    color: #ffffff;
}

#cadastroAlunoForm input[type="text"],
#cadastroAlunoForm input[type="email"] {
    width: 80%;
    padding: 2px;
    margin: 5px 0;
    border: 1px solid #6d4193;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    outline: none;
}

#cadastroAlunoForm button {
    margin-top: 20px;
}

.btn-primary {
    background-color: #6d4193;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 4px 4px;
    /* margin-top: -400px; */
    /* margin-right: 300px; */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #ffd700;
    color: #000000;
}

#mensagem {
    margin-top: 20px;
}

@media (max-width: 576px) {
    #menu a {
        margin: 5px;
    }

    .container {
        margin-top: 20px;
    }
}

/* Estiliza a exibição de sucesso do cadastro */

#modalMensagem .modal-header {
    background-color: #6d4193;
    color: #ffffff;
    border-bottom: none;
}

#modalMensagem .modal-title {
    font-weight: bold;
    text-align: center;
}

#modalMensagem .modal-body {
    background-color: #6d4193;
    color: #ffffff;
}

#modalMensagem .modal-footer {
    background-color: #6d4193;
}

#modalMensagem .btn-secondary {
    background-color: #6d4193;
    color: #ffffff;
    border: none;
}

#modalMensagem .btn-secondary:hover {
    background-color: #ffd700;
    color: #000000;
}

#animacaoSucesso {
    animation: rotate 2s infinite linear;
}

#modalMensagem .modal-body img {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto;
}

#modalMensagem .close:hover {
    color: #ffd700;
}

#mensagemBody {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Estiliza a exibição de sucesso do Carregamento do número de RFID */

#modalRFIDSucesso .modal-header {
    background-color: #6d4193;
    color: #ffffff;
    border-bottom: none;
}

#modalRFIDSucesso .modal-title {
    font-weight: bold;
    text-align: center;
}

#modalRFIDSucesso .modal-body {
    background-color: #6d4193;
    color: #ffffff;
}

#modalRFIDSucesso .modal-footer {
    background-color: #6d4193;
}

#modalRFIDSucesso .btn-secondary {
    background-color: #6d4193;
    color: #ffffff;
    border: none;
}

#modalRFIDSucesso .btn-secondary:hover {
    background-color: #ffd700;
    color: #000000;
}

#modalRFIDSucesso .close:hover {
    color: #ffd700;
}

#modalRFIDSucesso .modal-body img {
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin: 0 auto;
}

#mensagemRFIDSucesso {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Estiliza a exibição de erro do Carregamento do número de RFID */

#modalRFIDERRO .modal-header {
    background-color: #6d4193; 
    color: #ffffff; 
    border-bottom: none; 
}

#modalRFIDERRO .modal-title {
    font-weight: bold; 
    text-align: center;
}

#modalRFIDERRO .modal-body {
    background-color: #6d4193; 
    color: #ffffff; 
}

#modalRFIDERRO .modal-footer {
    background-color: #6d4193; 
}

#modalRFIDERRO .btn-secondary {
    background-color: #6d4193; 
    color: #ffffff; 
    border: none; 
}

#modalRFIDERRO .btn-secondary:hover {
    background-color: #ffd700; 
    color: #000000;
}

#animacaoRFIDERRO {
    animation: rotate 2s infinite linear;
}

#modalRFIDERRO .modal-body img {
    max-width: 300px; 
    max-height: 300px; 
    display: block; 
    margin: 0 auto; 
}

#modalRFIDERRO .close:hover {
    color: #ffd700; 
}

#mensagemRFIDERRO {
    color: #ffffff; 
    font-size: 1.2rem; 
    font-weight: bold;
    text-align: center; 
}

#logo {
    float: left;
    margin-right: 20px;
    max-width: 100px; /* Defina a largura máxima desejada para a imagem */
    height: auto; /* Mantém a proporção da imagem */
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

#botaoCadastro {
    margin-left: 300px;
    width: 30%;
    height: 50px;
    font-weight: bold;
    font-size: 30px;
}


#biometriaModal .modal-header {
    background-color: #6d4193;
    color: #ffffff;
    border-bottom: none;
}

#biometriaModal .modal-title {
    font-weight: bold;
    text-align: center;
}

#biometriaModal .modal-body {
    background-color: #6d4193;
    color: #ffffff;
}

#biometriaModal .close:hover {
    color: #ffd700;
}

#biometriaModal {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
}
