

/* CSS para a área de filtros */
#filtros {
  width: 30%; /* Ajuste o valor conforme necessário */
  padding: 40px; /* Adicione espaço interno para conforto */
  background-color: purple; /* Cor de fundo roxa */
  color: white; /* Cor do texto branca para contraste */
  box-sizing: border-box; /* Garante que o padding não afete a largura */
}



/* CSS */
#filtros {
  width: 300px; /* Altere a largura conforme necessário */
  padding: 20px; /* Adicione padding para mais espaço interno */
}

.filtro-item {
  margin-bottom: 15px; /* Adicione espaço entre os itens de filtro */
}

input, select {
  width: 100%; /* Faça os inputs e selects ocuparem 100% da largura do contêiner */
  padding: 8px; /* Adicione padding para conforto */
  margin-bottom: 10px; /* Adicione espaço entre os inputs */
}

button {
  width: 100%; /* Faça os botões ocuparem 100% da largura do contêiner */
  padding: 8px;
}


body {
  background-size: cover;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: #d6c1d2;
}

#header {
  position: relative; /* Definindo a posição relativa */
  background-color: #460048;
  display: flex; /* Ativando o modelo flexível */
  align-items: center; /* Centralizando verticalmente */
  padding: 0 20px; /* Adicionando espaço interno ao cabeçalho */
}

#header img {
  margin-right: 20px; /* Adicionando margem à direita para separar a logo do texto */
}

#header {
  background-color: #460048;
  text-align: center;
  padding: 20px 0;/* Adiciona espaço interno para aumentar o tamanho da área */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#header h1 {
  font-size: 36px; /* Altera o tamanho da fonte do texto "Secure Lockers" */
}



#texto-centralizado {
  position: absolute; /* Definindo a posição absoluta */
  top: 50%; /* Definindo o topo como 50% da altura do elemento pai */
  left: 50%; /* Definindo a esquerda como 50% da largura do elemento pai */
  transform: translate(-50%, -50%); /* Movendo o elemento para o centro */
}

#logo {
  width: 100px; /* Altere o valor conforme necessário */
  margin-right: 20px;
}

#menu {
  background-color: #050101;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#menu a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

#menu a:hover {
  color: #ffd700;
}

/* Dropdown Styles */
.dropdown {
  display: inline-block;
}

.dropdown a:hover {
  color: #ffd700;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #050101;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.conteudo-container {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
}

#filtros {
  background-color: #460048;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0px;
  width: 50%;
  overflow-x: auto;
  /* Adiciona barra de rolagem horizontal se necessário */
}

#filtros input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background-color: #fff;
  font-size: 1em;
  /* Ajuste o tamanho da fonte conforme necessário */
  transition: background-color 0.3s;
}

#filtros input[type="text"]:hover {
  cursor: text;
}

#filtros input[type="text"]:focus {
  border-color: #ffd700;
}

#filtros label,
#filtros select,
#filtros button {
  margin-bottom: 8px;
  /* Reduzindo o espaçamento entre os elementos */
}

#filtros label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

#filtros select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background-color: #fff;
  transition: background-color 0.3s;
}

#filtros select:hover {
  cursor: pointer;
}

#filtros select option {
  background-color: #fff;
  transition: background-color 0.3s;
}

#filtros select option:hover {
  background-color: #ffd700;
  color: #050101;
}


#filtros button {
  background-color: #050101;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.4s;
  font-weight: bold;
  margin-top: 8px;
  /* Espaço entre o botão e o elemento acima (input ou label) */
}

#filtros button:hover {
  background-color: #ffd700;
  color: #050101;
}


#dadosRelatorio {
  width: 3%;
  /* Adicione mais estilos conforme necessário */
}

#dadosRelatorioDemo {
  background-color: #fff;
  /* Adicione a cor de fundo desejada */
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 100%;
  /* Ajuste conforme necessário */
  overflow: auto;
  /* Adiciona barra de rolagem se necessário */
  border: 1px solid #ddd;
  /* Adicione a borda desejada */
}

#dadosRelatorioDemo h2 {
  text-align: center;
}

#dadosRelatorioDemo h2 {
  color: #460048;
  /* Cor do texto do cabeçalho */
}

#dadosRelatorioDemo table {
  width: 100%;
  table-layout: auto;
  /* Ajusta a largura da tabela com base no conteúdo */
  border-collapse: collapse;
  margin-top: 15px;
  overflow: auto;
  /* Adiciona barra de rolagem se necessário */
}

#dadosRelatorioDemo th,
#dadosRelatorioDemo td {
  border: 2px solid #ddd;
  /* Adicione bordas às células da tabela */
  padding: 5px;
  /* Ajuste conforme necessário */
  text-align: center;
  color: #460048;
  white-space: nowrap;
  /* Impede a quebra de texto para garantir que o conteúdo não seja cortado */
}

#dadosRelatorioDemo th {
  background-color: #460048;
  color: #fff;
  /* Cor do texto do cabeçalho da tabela */
}