.btn-primary {
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-primary::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s, opacity 1s;
}

.btn-primary:active::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}

.btn-primary:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}


/* Adicione o restante do seu CSS existente aqui */

@keyframes swing {
  0% {
      transform: rotateY(0deg);
  }
  50% {
      transform: rotateY(180deg);
  }
  100% {
      transform: rotateY(0deg);
  }
}

#logo {
  animation: swing 5s ease-in-out infinite;
  float: left; /* Adicionando a propriedade float para mover a logo para a esquerda */
  margin-right: 10px; /* Adicionando uma margem à direita para separar a logo do texto */
}


body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #900da1 55%, #d20ed5 25%);
  background-size: cover;
  color: #ffffff;
}
#logo {
  width: 70px; /* Tamanho menor para ocupar menos espaço vertical */
  height: 100px;
  align-items: center;
}

#header {
  background-color: #dc19e2;
  color: white;
  padding: 20px;
  text-align: left; /* Alinhar o texto à esquerda */
  display: flex; /* Usar flexbox para alinhar os elementos */
  align-items: center; /* Alinhar os elementos verticalmente */
}
#header img {
  max-width: 200px; /* Ajuste o valor conforme necessário para o tamanho desejado */
  height: 90px;
  display: block;
  margin: 0 auto; /* Centraliza horizontalmente */
}

#logo {
  max-width: 100px;
}


#menu {
  background-color: #000000;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: relative;
  z-index: 2;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 15px;
}

#menu a {
  display: inline-block;
  margin: 0 15px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s ease, color 0.3s ease;
}

#menu a:hover {
  transform: translateY(-5px);
  color: #ffd700;
}

.card-title {
  font-size: 1.5rem;
  color: #460048;
  font-weight: 700;
}

.form-group label {
  font-weight: 700;
  color: #000000;
}

.form-group input, .form-group select {
  border: 1px solid #460048;
}

.btn-primary {
  background-color: #460048;
  border-color: #460048;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
  background-color: #2575fc;
  border-color: #2575fc;
}

.table thead {
  background-color: #460048;
  color: white;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

.table-bordered {
  border: 1px solid #ddd;
}

.card {
  border: none;
  border-radius: 60px;
  overflow: hidden;
}

.card-body {
  padding: 4rem;
  background-color: rgb(204, 184, 221);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 60px;
}

.container {
  max-width: 1000px;
}

#filtros .btn {
  border-radius: 20px;
  font-weight: 700;
}







input, select {
  width: 100%; /* Faça os inputs e selects ocuparem 100% da largura do contêiner */
  padding: 8px; /* Adicione padding para conforto */
  margin-bottom: 10px; /* Adicione espaço entre os inputs */
}

button {
  width: 100%; /* Faça os botões ocuparem 100% da largura do contêiner */
  padding: 8px;
}


body {
  background-size: cover;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: #d6c1d2;
}

/* Estilizando o modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.table-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.modal-content {
  background-color: #3d0043;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



/* Relatorio.css */

/* Ajusta o tamanho do container principal */
.container {
  max-width: 100%;
}

/* Ajusta o tamanho do cartão de filtros */
#filtros {
  padding: 40px;
}

#filtros .form-group {
  margin-bottom: 1.5rem;
}

#filtros .form-group input {
  width: 100%;
}

#filtros .btn {
  width: 100%;
}

/* Ajusta o tamanho do relatório */
.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.table-responsive {
  max-height: 70vh; /* Ajuste conforme necessário */
  overflow-y: auto;
}

.table {
  margin-bottom: 0;
}

.modal-content {
  max-width: 90%;
  margin: auto;
}

.modal-content label {
  display: block;
  margin-top: 30px;
}

.modal-content input {
  width: 100%;
  margin-bottom: 10px;
}

#saveButton {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}



